/**
* Gestion de l'alignement du contenu
**/
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item:nth-child(1){
    display: flex;
    justify-content: center;
    flex: 1 100px;
    /*border: solid;*/
}
.item:nth-child(2){
    flex: 1 100px;
}
.item:nth-child(3){
    flex: 5 400px;
}
.item:nth-child(4){
    flex: 1 100px;
}

/**
* Gestion  du header
**/
.header header{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*cadrage logo*/
.header header div:first-child{
    display: flex;
    justify-content: flex-end;  
}
.header header img{
    border-radius: 5px;
    border: 1px solid;
    width: 50%;
}
.header header div{
    margin-left: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

/**
*Gestion du menu
**/
nav ul{
   list-style: none; 
}
.menu ul{
    display: flex;
    justify-content: center;
}
.menu ul li{
    font-size: 1.5em;
    margin-right: 100px;
}


/**
*Gestion de la section
**/
.section{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.section section{
    margin-right: 10px;
}
.section section:nth-child(1){
    flex:1 100px;
    text-align: center;
}

.section section:nth-child(2) div{
    border-right: solid;
    background-color: blue;
    height: 80%;
}
.section section:nth-child(3){
    flex:1 100px;
    text-align: center;
    height: 50%;
}
section h2{
    margin-bottom: 0;
}
section > p{
    margin-bottom: 10%;
}
section p{
    font-size: 1.5em;
}

/**
* Gestion du footer
**/
footer div{
    text-align: center;
    font-size: 1.2em;
}